<div>
  <table>
    <tr>
      <th>Serial Number</th>
      <th>Registration Date</th>
      <th>Firmware Version</th>
      <th>Added On</th>
    </tr>
    <% devices.each do |device| %>
      <tr>
        <td><%= link_to device.serial_number, device %></td>
        <td><%= device.registration_date %></td>
        <td><%= device.firmware_version %></td>
        <td><%= device.created_at %></td>
      </tr>
    <% end %>
  </table>
</div>